<div class="video-container">
  <div class="banner-section">
    <section>
      <h2>The Future of Estimating</h2>
      <p class="description">
        Your time is money, and we respect that.<br> Register your company, install
        our mobile app, or log in on our web portal.
      </p>
    </section>
    <div class="get-started">
      <button class="get-started-btn">
        <span>Get Started</span>
        <img src="../../../assets/img/arrow-white.svg" alt="arrow" />
      </button>
      <div class="check-text">
        <img src="../../../assets/img/check.svg" alt="check" />
        <span>Your first estimate is free</span>
      </div>
    </div>
  </div>
  <!-- There should be an iframe with a video -->
  <div class="video-section">
    <img src="../../../assets/img/video-bg.svg" alt="Your Image" />
    <img
      src="../../../assets/img/play-button.svg"
      alt="Play Button"
      class="play-button-img"
    />
  </div>
</div>

<div class="advantages-wrapper">
  <div class="advantages-container">
    <h3>Estimates that save you time and communication with the carrier</h3>
    <div class="card-container">
      <div class="card">
        <img src="../../../assets/img/file.svg" alt="File" />
        <p>The most accurate and documented estimates in the industry</p>
      </div>
      <div class="card">
        <img src="../../../assets/img/share.svg" alt="Share" />
        <p>Representation of the full scope of the project</p>
      </div>
      <div class="card">
        <img src="../../../assets/img/clock.svg" alt="Clock" />
        <p>Time-saving estimates and communication with the carrier</p>
      </div>
      <div class="card">
        <img src="../../../assets/img/list.svg" alt="List" />
        <p>Proper project valuation</p>
      </div>
      <div class="card">
        <img src="../../../assets/img/loop.svg" alt="Loop" />
        <p>Automated process management with our free app</p>
      </div>
    </div>
  </div>

  <div class="qrcode-container">
    <h4>Download <b>FREE</b><br> Test Project Mobile App</h4>
    <div class="stores">
      <img src="../../../assets/img/google-play.svg" alt="Google Play" />
      <img src="../../../assets/img/app-store.svg" alt="App Store" />
    </div>
    <div class="qrcodes">
      <img src="../../../assets/img/qrcode1.svg" alt="qrcode" />
      <img src="../../../assets/img/qrcode2.svg" alt="qrcode" />
    </div>
  </div>
</div>
