/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "AvenirNextforINTUIT-Bold";
  src: url("./assets/fonts/AvenirNextforINTUIT-Bold.otf") format("truetype");
}


@font-face {
    font-family: "AvenirNextforINTUIT-Regular";
    src: url("./assets/fonts/AvenirNextforINTUIT-Regular.otf") format("truetype");
  }
